<div class="row m-0">
  <div class="col-lg-12 pt-3 bg-light">
    <div class="row mb-3">
      <div class="col-lg-7 m-auto"><h1 class="text-grey m-0 ff-2">Dashboard</h1></div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body card-body-flex">
            <div class="d-inline-block text-grey-secondary">
              <img src="assets/calendar/calendar.png" alt="calendar">
              <span class="m-l-15 mr-5 ff-1">Period</span>
              <span class="ml-5 ff-1">{{dateString}}</span>
            </div>
            <form class="form-inline">
              <div class="form-group hidden">
                <div class="input-group" style="height: 0">
                  <input name="datepicker"
                          class="form-control"
                          ngbDatepicker
                          #datepicker="ngbDatepicker" [maxDate]="yesterday"
                          [autoClose]="'outside'" navigation="arrows"
                          (dateSelect)="onDateSelection($event)"
                          [displayMonths]="2" placement="bottom auto"
                          [dayTemplate]="t" [disabled]="disabled"
                          outsideDays="hidden" [footerTemplate]="footerTemplate"
                          [startDate]="fromDate" style="visibility: hidden; display: none;">
                  <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                          [class.focused]="focused"
                          [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                      {{ date.day }}
                    </span>
                  </ng-template>
                </div>
              </div>
            </form>
            <ng-template #footerTemplate>
              <hr class="my-0">
              <button class="btn btn-sm m-2 float-left ff-1" [ngClass]="{'btn-primary': period == 'today', 'btn-light': period != 'today'}" (click)="setPeriod('today'); $event.preventDefault()" disabled>Today</button>
              <button class="btn btn-sm m-2 float-left ff-1" [ngClass]="{'btn-primary': period == 'yesterday', 'btn-light': period != 'yesterday'}" (click)="setPeriod('yesterday'); $event.preventDefault()">Yesterday</button>
              <button class="btn btn-sm m-2 float-left ff-1" [ngClass]="{'btn-primary': period == 'last 7 days', 'btn-light': period != 'last 7 days'}" (click)="setPeriod('last 7 days'); $event.preventDefault()">Last 7 Days</button>
              <button class="btn btn-sm m-2 float-left ff-1" [ngClass]="{'btn-primary': period == 'last 30 days', 'btn-light': period != 'last 30 days'}" (click)="setPeriod('last 30 days'); $event.preventDefault()">Last 30 Days</button>
              <button class="btn btn-sm m-2 float-left ff-1" [ngClass]="{'btn-primary': period == 'this month', 'btn-light': period != 'this month'}" (click)="setPeriod('this month'); $event.preventDefault()">This Month</button>
              <button class="btn btn-sm m-2 float-left ff-1" [ngClass]="{'btn-primary': period == 'custom', 'btn-light': period != 'custom'}" (click)="setPeriod('custom'); $event.preventDefault()">Custom</button>
              <button class="btn btn-primary btn-sm m-2 float-right ff-1" (click)="apply(); datepicker.close()">Apply</button>
            </ng-template>
            <fa-icon [icon]="faAngleDown" class="pointer d-inline-block float-right" (click)="datepicker.toggle()"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="card card-success">
          <div class="card-body">
            <h5 class="card-title m-0 ff-2">MARKET INSIGHTS</h5>
            <div class="help">
              <div><img src="assets/help/Help.png" alt="help"></div>
              <div><a class="text-white ff-2" href="">Click Here for Help</a></div>
              <div><fa-icon [icon]="faAngleUp" class="pointer"></fa-icon></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <p class="card-title text-grey-secondary ff-2">Sales Turnover</p>
            <img src="assets/more/more.svg" alt="more" class="w-10 float-right">
            <div class="row">
              <div class="col-lg-9 f-10">
                <h5 class="ff-2"><b>Rp 3,600,000</b></h5>
                <img src="assets/down-arrow/DownArrow.svg" alt="down-arrow" class="w-10">
                <span class="text-danger ff-2"><b>13.8%</b></span>
                <span class="text-grey-secondary ff-2">&nbsp;last period in products sold</span>
              </div>
              <div class="col-lg-3">
                <img src="assets/sales/turnover.svg" alt="sales-turnover">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="mb-1">
              <h5 class="card-title f-w-300 ff-2">AVERAGE PURCHASE VALUE</h5>
              <img src="assets/more/more.svg" alt="more" class="w-10 float-right">
              <div ngbDropdown class="d-inline-block float-right m-r-15">
                <button class="btn btn-outline-secondary text-capitalize ff-2" id="dropdownBasic1" ngbDropdownToggle>{{period}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="text-capitalize ff-2" ngbDropdownItem *ngFor="let item of periodList" (click)="setPeriodAndDate(item)" [disabled]="item == 'today'">{{item}}</button>
                </div>
              </div>
            </div>
            <app-chart chartID="bar-chart-2-cac" [chartConfig]="this.chartDB.bar2CAC"></app-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title f-w-300 ff-2">BEST SELLING SKU</h5>
            <img src="assets/more/more.svg" alt="more" class="w-10 float-right">
            <div class="row mb-1">
              <div class="col-lg-12 mb-2">
                <div class="card bg-warning">
                  <div class="row">
                    <div class="col-lg-4"><img src="assets/product/product.png" alt="product"></div>
                    <div class="col-lg-7" style="padding: 8px 5px;">
                      <p class="mb-2 mt-2">[Nama Product]</p>
                      <div class="d-flex text-secondary" style="justify-content: space-between">
                        <span class="f-12">Rp XXXX</span>
                        <span class="f-12">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-2">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3"><img src="assets/product/product.png" alt="product" class="w-60"></div>
                    <div class="col-lg-7 f-12">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="card-body-flex text-secondary">
                        <span class="f-10 ff-2">Rp XXXX</span>
                        <span class="f-10 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-2">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3"><img src="assets/product/product.png" alt="product" class="w-60"></div>
                    <div class="col-lg-7 f-12">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="card-body-flex text-secondary">
                        <span class="f-10 ff-2">Rp XXXX</span>
                        <span class="f-10 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-2">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3"><img src="assets/product/product.png" alt="product" class="w-60"></div>
                    <div class="col-lg-7 f-12">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="d-flex text-secondary" style="justify-content: space-between">
                        <span class="f-10 ff-2">Rp XXXX</span>
                        <span class="f-10 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3"><img src="assets/product/product.png" alt="product" class="w-60"></div>
                    <div class="col-lg-7 f-12">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="card-body-flex text-secondary">
                        <span class="f-10 ff-2">Rp XXXX</span>
                        <span class="f-10 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title f-w-300 ff-2">TOP COMPETITOR SKU</h5>
            <img src="assets/more/more.svg" alt="more" class="w-10 float-right">
            <div class="row mb-1">
              <div class="col-lg-12 mb-2">
                <div class="card bg-warning">
                  <div class="row">
                    <div class="col-lg-4"><img src="assets/product/product.png" alt="product"></div>
                    <div class="col-lg-7" style="padding: 8px 5px;">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="card-body-flex text-secondary">
                        <span class="f-12 ff-2">Rp XXXX</span>
                        <span class="f-12 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-2">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3"><img src="assets/product/product.png" alt="product" class="w-60"></div>
                    <div class="col-lg-7 f-12">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="card-body-flex text-secondary">
                        <span class="f-10 ff-2">Rp XXXX</span>
                        <span class="f-10 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-2">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3"><img src="assets/product/product.png" alt="product" class="w-60"></div>
                    <div class="col-lg-7 f-12">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="card-body-flex text-secondary">
                        <span class="f-10 ff-2">Rp XXXX</span>
                        <span class="f-10 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-2">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3"><img src="assets/product/product.png" alt="product" class="w-60"></div>
                    <div class="col-lg-7 f-12">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="card-body-flex text-secondary">
                        <span class="f-10 ff-2">Rp XXXX</span>
                        <span class="f-10 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3"><img src="assets/product/product.png" alt="product" class="w-60"></div>
                    <div class="col-lg-7 f-12">
                      <p class="mb-2 mt-2 ff-2">[Nama Product]</p>
                      <div class="card-body-flex text-secondary">
                        <span class="f-10 ff-2">Rp XXXX</span>
                        <span class="f-10 ff-2">[jml terjual]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>     
</div>