<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">
    <img src="assets/advotics-logo.jpg" alt="logo" class="navbar-img">
    <span class="f-12">
      <sub class="ff-1">powered by</sub>
      <img src="assets/advotics-logo.jpg" alt="logo-secondary" class="navbar-img-secondary">
    </span>
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item text-center text-secondary">
        <p class="f-12 m-0 f-w-500 ff-1">Username</p>
        <p class="f-10 m-0 ff-1">Company Name</p>
      </li>
      <li class="nav-item d-contents">
        <img src="assets/profile/profile.svg" alt="profile" style="width: 32px;">
      </li>
      <li class="nav-item d-contents" style="padding-right: 0">
          <img src="assets/logout/logout.png" alt="logout" style="width: 15px;">
      </li>
    </ul>
  </div>
</nav>