@import "../../../../styles.scss";

nav { 
  border-bottom: 1px solid #D2D2D2;
  position: fixed;
  z-index: 1029;
  width: 100%;
  background-color: #fff;
}

.navbar-img {
  margin: 0 10px 0 20px;
  width: 129px;
}

.navbar-img-secondary {
  margin: 5px 10px 0 10px;
  width: 52px;
}

.nav-item {
  padding: 0 10px;
}